body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #080800;
    color: white;
    background-image: url(https://i.pinimg.com/736x/5a/11/bb/5a11bb1d77ee734b4f16ad3b2d6bc189.jpg);
    position: relative;
    z-index: 1;
}
body::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
}
.nav1{
    display: flex;
    justify-content: space-between;
    padding: 10px 6%;
}
.links{
    display: flex;
    align-items: center;
}
.links a{
    text-decoration: none;
    color: white;
    margin-left: 70px;
    font-size: 18px;
    position: relative;
}
.links a::after{
    content: '';
    width: 0;
    height: 3px;
    background: linear-gradient(45deg, #ff004f, #fff);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
.links a:hover::after{
    width: 100%;
}
.logo{
    width: 200px;
}



.color{
    color: rgb(255, 0, 60);
}
.profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 8%;

}
.Job{
    color: rgb(187, 187, 187);
}
.name{
    font-size: 60px;
}
.mypic{
    border-radius: 50%;
}
#Aboutme{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    padding-top: 30px;
    gap: 70px;
    padding: 15px 8%;
}
.ladyingrass{
    height: 600px;
    border-radius: 20px;
}
.about{
    font-size: 48px;
    margin: 0;
    padding: 0;
}
.abouttext{
    color: rgb(143, 143, 143);
    text-align: justify;
}


.tab-title{
    display: flex;
    align-items: center;
    gap: 50px;
}
.tab-links{
    color: white;
    position: relative;
    cursor: pointer;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: linear-gradient(45deg, #ff004f, #fff);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.skill{
    color: rgb(255, 0, 60);
    font-size: 12px;
    margin: 20px 0 0 0;
    padding: 0;
}
.task{
    font-size: 14px;
    padding: 0;
    margin: 5px 0 0 0;
    font-weight: 400;
    color: rgb(179, 178, 178);
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
.MySkills{
    padding:15px 8%;
    margin: 50px 0 50px 0;
}
.service{
    font-size: 48px;
    text-align: center;
    margin:50px 0 50px 0;
}
.port{
    font-size: 48px;
    text-align: center;
    margin:50px 0 50px 0;
    padding-top: 100px;
}
.tag{
    width: 150px;
    margin: -20px 0 -20px -20px;
    padding: 0;
}

.web{
    background-color: #262626;
    border-radius: 10px;
    padding: 40px;
    transition: background 0.5s, transform 0.5s ;
}
i{
    font-size: 50px;
    margin-bottom: 30px;
}
.skillsgrid{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.webheader{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
    color: white;
}
.webtext{
    color: whitesmoke;
    font-size: 14px;
}
.learn{
    font-size: 12px;
    padding: 10px 20px;
    margin-top: 15px;
    background-color: transparent;
    border: 1px solid #fff;
    color:  white;
    border-radius: 8px;
}
.web:hover{
    background: #ff004f;
    transform: translateY(-10px);
    color: white;
}




.site{
    width: 300px;
    height: 400px;
    border-radius: 10px 10px 0 0 ;
}
.viewhead{
    background-color: rgb(30, 29, 29);
    max-width: 300px;
    border-radius: 0 0 10px 10px;
    margin-top: -10px;
}
.viewhead h3{
    margin: 0;
    padding: 30px 0 0 20px;
}
.viewSection{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 50px;
}
.code{
    background-color: rgb(30, 29, 29);
    border: 1px solid white;
    color: white;
    padding: 10px 20px ;
    border-radius: 8px;
    font-size: 12px;
    margin: 40px 0px;
}
.sited{
    background-color: rgb(255, 0, 60);
    border: 1px solid rgb(255, 0, 60);
    color: white;
    padding: 10px 20px ;
    border-radius: 8px;
    font-size: 12px;
    margin: 40px 0px;
}
.code:hover, .sited:hover{
    background-color: white;
    color: black;
    border: 1px solid white;
}
.works{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#portfolio{
    margin-bottom: 200px;
}
.Download a{
    text-decoration: none;
    color: white;
}
#Contact{

    display: flex;
    justify-content: space-evenly;
    gap: 140px;
    align-items: center;
    margin-bottom: 50px;
}
.icon{
    width: 30px;
}
.mail{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
.Download{
    background-color: rgb(255, 0, 60);
    padding: 15px 30px;
    font-size: 14px;
    border-radius: 3px;
    color: white;
    border: none;
}
.textfield{
    width: 600px;
    height: 45px;
    background-color: rgb(43, 42, 42);
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}
.textfield::placeholder{
    color: rgb(113, 113, 113);
    padding-left: 15px;
}
.textinput{
    background-color: rgb(43, 42, 42);
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}
.textinput::placeholder{
    color: rgb(113, 113, 113);
    padding-left: 15px;
}
.me{
    font-size: 48px;
}
.othericons{
    margin-bottom: 30px;
}
footer{
    text-align: center;
    background-color: rgb(36, 36, 36);
    padding: 20px;
}
.nav1 .fa-solid{
    display: none;
}

@media(max-width:600px){
    .nav1{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .nav1 .fa-solid{
        display: block;
        font-size: 25px;
    }
    .links{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
        flex-direction: column;
    }
    .links a{
        display: block;
        margin : 25px;
    }
    .links .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .profile{
        flex-direction: column;
    }
    #Aboutme{
        flex-direction: column-reverse;
    }
    .skillsgrid, .works{
        flex-direction: column;
    }
    .works .one{
        margin-bottom: 40px;
    }
    #Contact{
        flex-direction: column;
    }
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .textfield{
        width: 300px;
    }
    textarea{
        width: 300px;
    }
    .mypic{
        width: 350px;
    }
    .Job{
        font-size: 12px;
    }
    .name{
        font-size: 30px;
    }
    .ladyingrass{
        height: 400px;
    }
}